{% extends 'layout.html' %}

{% block body %}
    <h2 style="text-align: center;">Type Of Visualization : {{diagram}}</h2>
    <img src="../static/age_vs_attrition.png" alt="">
    <img src="../static/age_vs_pred.png" alt="">
    <img src="../static/business_vs_attrition.png" alt="">
    <img src="../static/business_vs_pred.png" alt="">
    <img src="../static/depart_vs_attrition.png" alt="">
    <img src="../static/depart_vs_pred.png" alt="">
    <img src="../static/dist_vs_attrition.png" alt="">
    <img src="../static/dist_vs_pred.png" alt="">
    <img src="../static/edu_vs_attriton.png" alt="">
    <img src="../static/edu_vs_pred.png" alt="">
    <img src="../static/edufield_vs_attrition.png" alt="">
    <img src="../static/edufield_vs_pred.png" alt="">
    <img src="../static/gender_vs_attrition.png" alt="">
    <img src="../static/gender_vs_pred.png" alt="">
    <img src="../static/jobinvolve_vs_attrition.png" alt="">
    <img src="../static/jobinvolve_vs_pred.png" alt="">
    <img src="../static/joblevel_vs_attrition.png" alt="">
    <img src="../static/joblevel_vs_pred.png" alt="">
    <img src="../static/jobrole_vs_attrition.png" alt="">
    <img src="../static/jobrole_vs_pred.png" alt="">
    <img src="../static/jobsatisfy_vs_attrition.png" alt="">
    <img src="../static/jobsatisfy_vs_pred.png" alt=""> 
    <img src="../static/overtime_vs_attrition.png" alt="">
    <img src="../static/overtime_vs_pred.png" alt="">
    <img src="../static/percenthike_vs_attrition.png" alt="">
    <img src="../static/percenthike_vs_pred.png" alt=""> 
    <img src="../static/perform_vs_attrition.png" alt="">
    <img src="../static/perform_vs_pred.png" alt="">
    <img src="../static/yearsincurrrole_vs_attrition.png" alt="">
    <img src="../static/yearsincurrrole_vs_pred.png" alt="">
    <img src="../static/lastpromotion_vs_attrition.png" alt="">
    <img src="../static/lastpromotion_vs_pred.png" alt="">
    <img src="../static/currmanager_vs_attrition.png" alt="">
    <img src="../static/currmanager_vs_pred.png" alt="">

{% endblock %}
