{% extends 'layout.html' %}

{% block body %}

    {% if 'user' in session %}
    <div style="text-align: center;padding-top: 20%;">
        <a href="/individual"<button type="button" class="btn  btn-info">Individual</button></a>
        <a href="/index"<button type="button" class="btn  btn-info">For Dataset</button></a>
        <a href="/layout"<button type="button" class="btn  btn-info">Layout</button></a>
    </div>
    {% else %}
    <center>    
    <div class="container sq">
    
        <h3 style="padding-top: 5%;">To Access the feature You need to login First</h3>
        <a href="/login" <button type="button" class="btn btn-primary" style="margin-bottom: 5%;">Login</button></a>
    </div>
    </center> 
    {% endif %}
{% endblock %}    